<%- include("partial/header") -%>
  <body>
    <h1>OTP Page</h1>

    <form class="" action="https://micro-okta.herokuapp.com/verify-otp" method="get">
      <label for="">OTP:</label>
      <input type="number" name="pin" value=""><br>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
